.#*
*#
*~
*.cp.*
*.hwa.*
*.o
*.pyc
*.i
*.s
*.bak
*.bak?
/doxygen/html
build/
/python/pyserial-2.7/
private/
projects/
trash/
windows/
MEMO*
TODO*
atmel/avr/examples/00-0/
atmel/avr/examples/11-2-uart-twi-24cxx/
